[2012-03-14 10:52] PawelDecowski opened #2 "Both MasterCard and Diners Club US & CA can start with 54 or 55"
It means that whichever is matched first will be returned for the prefixes 54 and 55 (currently Diners Club US & CA).

[2012-03-14 10:54] PawelDecowski opened #3 "Apparently prefix 4056 is a Visa Electron"
Need to verify if always the case and add to the list.

[2012-03-14 11:26] jamesallardice opened #4 "Differences between documentation and implementation"
The documentation states that the object passed to the callback function contains `card_type` property which contains "one of the strings describing the card type" (or `null`). However, this is not the case. The `card_type` property refers to the matching object from the `card_types` array.

This doesn't seem a major problem, but either the documentation should be changed, or the implementation sh

[2012-03-14 12:25] #4 closed, assigned to nobody

[2012-03-15 16:45] #2 closed, assigned to nobody

[2012-03-20 14:26] fent opened #8 "This shouldn't be a jquery plugin"
Hi. Nice work on the library. But this really shouldn't be a jquery plugin.

The library should expose a function such as `validate()`, then let users bind that to the input changes and do whatever with it. There's really no need to have to require jquery to use it.

[2012-03-20 14:54] #8 closed, assigned to nobody

[2012-03-22 01:34] alampros opened #9 "Feature Request: event emissions"
Since the functionality is mostly driven by events (`input` or `keyup`), it would make sense to emit events such as a `creditcard.valid` event that you could listen for.

This would also allow you to separate the `<input>` from the controller or event handler and pass context using event targets.

Fantastic work on this!

[2012-03-22 23:41] ghost opened #12 "Amex icon"
This great plugin misses the amex icon, it would be great if you add it.

Cheers

[2012-03-23 10:09] #12 closed, assigned to nobody

[2012-04-05 13:11] StevenWeathers opened #13 "Delegate instead of bind"
I would like to suggest that the events be refactored from .bind to .delegate (or .on with jQuery 1.7).

Delegate Docs
http://api.jquery.com/delegate/

.On Docs
http://api.jquery.com/on/

[2012-11-26 15:25] alvaro-rm opened #20 "Bug Internet Explorer 7 (EcmaScript 3)"
There is a bug in the 81:
--->>  digit = _ref[n];    <<--

In Internet Explorer 7, as it uses EcmaScript 3, it is not possible to read string's chars as it were an array. The solution is just to use "charAt" method, so:
--->>  digit = _ref.charAt(n);    <<--

Regards

[2013-02-08 21:59] fulldecent opened #23 "Put Payment details after Card number"
In http://paweldecowski.github.com/jQuery-CreditCardValidator/

People will click on the card and think that in a radio button. Consider moving that after the card number.

Also, I tried inputting an invalid number and nothing happened. Was the box supposed to turn red or something?

[2013-05-10 15:12] fulldecent opened #24 "Include graphics for all card types"
Please include those pretty graphics for all card types you handle and include in your sample CSS.

[code]

We would be able to pay $50 for this request if you could complete by 5/15/2013. Please email me for billing details. Also, could you please include an explicit license file in your source tree.

[2013-06-26 16:43] PawelDecowski opened #25 "Add `valid` property to the `result`"
Currently there are three properties which indicate results of three different aspects of validation:

* `card_type` — whether the card prefix has been recognised (regardless of the below being valid or not)
* `luhn_valid` — whether the Luhn checksum is valid
* `length_valid` — whether the length of the card number is valid for the type of card

Having this breakdown is useful to provide the user

[2013-06-26 16:50] #24 closed, assigned to nobody

[2013-08-09 09:07] ccfiel opened #27 "where can i download demo source?"
Where can I download the source code of the demo? Thanks in advance

[2013-08-09 09:18] #27 closed, assigned to nobody

[2013-10-18 19:43] ghost opened #28 "A Mastercard number is evaluating to American Express"
My customer says he tried twice to enter his Mastercard number, and the function kept choosing "AmEx" as his card type.

We did have the acceptable cc types restricted to the major four, so maybe the customers c.c. was some obscure type of Mastercard (like a diners card?) that didn't evaluate to Mastercard.

I dont have the full number, and also wouldn't be able to post it anyway but here is some

[2014-01-07 10:34] timgluz opened #30 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of PawelDecowski/jQuery-CreditCardValidator!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, *224* of them doesnt exists anymore;

We analysed **7306**  existing packages and

[2014-01-14 18:24] mikestecker opened #31 "Accept parameter function / jQuery validator tie-in"
I tried writing the basic option myself as well as used the code from your demo page but I cannot get the accept parameter to work.

On your demo page, you specified not to accept Diners, so I figured that would be a good one to try. If you try the number 30569309025904 (taken from http://www.validcreditcardnumber.com), there is no front-end feedback that it is not accepted. How would I be able to

[2014-04-01 20:06] vipuldelwadia opened #34 "Highlight both Visa types until Visa Electron is not possible"
I think it shouldn't dim Visa Electron until you've typed enough of the number to rule it out (e.g. 40 could be either Visa). Via http://www.reddit.com/r/programming/comments/21uf5h/how_to_correctly_detect_credit_card_type/cggwbg1

[2014-06-27 12:40] #28 closed, assigned to nobody

[2014-06-28 12:33] #31 closed, assigned to nobody

[2014-06-28 12:46] #20 closed, assigned to nobody

[2014-07-03 15:38] #3 closed, assigned to nobody

[2014-07-04 08:51] #9 closed, assigned to nobody

[2014-07-22 09:21] #23 closed, assigned to nobody

[2014-07-22 09:34] PawelDecowski opened #35 "Add examples of usage"
To make development easier there should be some examples. That way contributors don’t have to write their own to test new features/bugfixes.

[2014-07-24 16:57] pevawi opened #36 "Add the input to be send back with the event"
Add the input to the event so you can reference it easily from within the function enclosure for the event:

[code]

[2014-07-30 16:48] yazinsai opened #37 "Add support for JCB cards"
[JCB](http://www.jcbcard.com/) is considered a major credit card brand in Asia. It'd be great if you could add support for it.

The regex rule for detecting JCB is:

[code]

JCB cards beginning with 2131 or 1800 have 15 digits. JCB cards beginning with 35 have 16 digits.

Source: http://www.regular-expressions.info/creditcard.html

PS: This script hasn't been updated in 2 years .. are you still ma

[2014-08-21 04:01] starchild opened #38 "Amex not working?"
Hi,

As soon as I start to enter an amex card number, nothing happens.  In this case, card starts with 37....

[2014-08-22 10:52] #38 closed, assigned to nobody

[2014-09-12 16:47] rafaellyra opened #40 "Add support to javascript module patterns"
I think it would be good to add support to universal module patterns such as amd and commonjs

more info about at: https://github.com/umdjs/umd

[2014-09-23 17:26] crumpley opened #42 "AMEX card numbers not validating"
I've tried several test AMEX numbers, both in my form, and the demo form on your site. None of them seem to validate. Here are a few test numbers I've tried. These test numbers are from various web sites offering numbers for testing. Other card test (VISA MasterCard, Discover) numbers work fine.
341111111111111
378282246310005
378734493671000
34343434343434
349615762874365

[2014-09-23 19:25] #42 closed, assigned to nobody

[2014-10-19 17:20] jamesward opened #43 "Please tag a release"
Please tag a release

[2014-10-21 10:51] #43 closed, assigned to PawelDecowski

[2014-11-17 03:00] infused-kim opened #45 "AMEX not working"
Hi,

It seems like AMEX cards are not recognised as AMEX and are not validated properly. I have tried my real amex on http://jquerycreditcardvalidator.com as well as the test numbers from http://www.freeformatter.com/credit-card-number-generator-validator.html

[2014-11-17 13:27] #45 closed, assigned to nobody

[2014-11-23 00:30] foxx opened #46 "Unbinding events breaks other code"
[code]

This line is evil, it breaks other code relying on that event, such as form validation library Parsley.

[2015-01-08 04:17] sachin87 opened #49 "is this library still active?"
it was last updated 2 years ago, and many issues are pending, i want to use it in my project confused whether to use it or not?

[2015-01-08 09:01] PawelDecowski commented on #49
Hi @sachin87.

Yes, the library is active. As you can see, the “issues” are mostly just feature requests. Any bugs have been fixed almost immediately.

There is a 1.0 in the pipeline which will offer some great new features (see https://github.com/PawelDecowski/jquery-creditcardvalidator/tree/release/1.0 for a sneak peek).

Pawel

[2015-01-09 06:26] sachin87 commented on #49
in your example website(http://jquerycreditcardvalidator.com/) i think image for american express card is no there, could you add it?

[2015-01-12 12:10] PawelDecowski commented on #49
@sachin87

Sorry, the icons aren’t a part of the library — they’re just there for demo purposes — and as such are not supported. Feel free to use the ones that exist but there are no plans to add any more.

[2015-01-12 12:10] #49 closed

[2015-01-30 16:54] adamskinner opened #51 "Amex cards"
Hi,

Having a bit of trouble identifying American Express cards.  As well as my real card number some of these test amex numbers dont seem to work:

http://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm

[2015-02-03 17:37] zfarooq01 opened #52 "setting up jquery-creditcardvalidator (I need an idiots guide)"
Im a web developer. Im Not so competent in jquery or javascript.

I have a HTML form (below) to collect payment details. I want to validate the Card entered.

Is it possible for you guys to tell me how to embed the scripts and link to the form?

Is there any sample that is a html page with a sample form and the files included. So i can just copy and paste it in straight away. I want it exactly the

[2015-02-09 11:15] PawelDecowski commented on #36
This is a very good suggestion. However, instead of making it the callback’s argument, it can be assigned to the actual `this` variable inside the callback, by calling it using `Function.prototype.call` rather than directly.

**This is scheduled for version 1.0.**

[2015-02-09 11:49] PawelDecowski commented on #52
Hi @zfarooq01

GitHub issues is not a place to ask for support. It’s only for reporting bugs and suggesting improvements.

If you have a specific problem with the implementation, I suggest asking on [Stack Overflow](http://stackoverflow.com).

However, it looks like you need to learn a bit more about JavaScript. I suggest going through a tutorial; for example MDN’s [“A re-introduction to JavaScrip

[2015-02-09 11:49] #52 closed

[2015-02-09 11:55] PawelDecowski commented on #51
Hi @adamskinner

When making such claims *please* provide a link to a demo ([CodePen](http://codepen.io), [JSFiddle](http://jsfiddle.net), etc). I really don’t have the time to test all reported supposedly not working numbers.

By looking at the link you’ve provided, these numbers should work. They start with 37 and are 15 digits long — definitely supported.

I’ll happily look into it if you can l

[2015-02-09 14:54] PawelDecowski commented on #13
This is a breaking change. As of 1.0 required version of jQuery will be 1.7.

[2015-02-09 22:42] PawelDecowski commented on #43
Just a quick update. 1.0 will be out within the next couple of days as long as there’s no major problems. If you want, you can check out [the development 1.0 branch](https://github.com/PawelDecowski/jquery-creditcardvalidator/tree/release/1.0) and report any problems.

Thanks for the help.

[2015-02-10 14:47] PawelDecowski commented on #13
This is implemented in just released [1.0](https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.0.0).

[2015-02-10 14:47] #13 closed

[2015-02-10 14:47] PawelDecowski commented on #25
This is implemented in just released [1.0](https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.0.0).

[2015-02-10 14:47] #25 closed

[2015-02-10 14:47] PawelDecowski commented on #30
This is implemented in just released [1.0](https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.0.0).

[2015-02-10 14:47] #30 closed

[2015-02-10 14:47] PawelDecowski commented on #35
This is implemented in just released [1.0](https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.0.0).

[2015-02-10 14:47] #35 closed

[2015-02-10 14:48] PawelDecowski commented on #36
This is implemented in just released [1.0](https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.0.0).

[2015-02-10 14:48] #36 closed

[2015-02-10 14:49] PawelDecowski commented on #46
This is fixed in just released [1.0](https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.0.0).

[2015-02-10 14:49] #46 closed

[2015-02-16 11:32] adamskinner commented on #51
Hi @PawelDecowski

Sorry - your quite right. Amex card do work.

I had an error in my code and then tried your main website (http://jquerycreditcardvalidator.com/)

Because an amex card graphic didn't come up - I wrongly assumed it was broken.

Regards

Adam

[2015-02-16 11:32] #51 closed

[2015-02-16 11:40] PawelDecowski commented on #51
Hi @adamskinner

You weren’t the only one to assume something was broken because the demo doesn’t support all the cards that the plugin supports. In the most recent update I included a help text under the CC field that says which cards are supported by the demo. Hopefully that will help avoid confusion!

[2015-02-26 11:43] BrianWillows opened #54 "Two Valid VISA numbers don't work"
These two VISA numbers are provided as Test card numbers with Authorize.net:

- Visa Test Card: 4007000000027
- Second Visa Test Card: 4012888818888

They're valid according to the PHP Luhn check code

    function is_valid($number) {
      $cardNumber = strrev($number);
      $numSum = 0;

      for ($i=0; $i<strlen($cardNumber); $i++) {
        $currentNum = substr($cardNumber, $i, 1);

// Doubl

[2015-02-26 14:29] BrianWillows commented on #54
http://blog.unibulmerchantservices.com/13-signs-of-a-valid-visa-card/
It seems that some Visa card numbers can be 13 characters starting with a 4

[2015-02-26 14:34] PawelDecowski commented on #54
Hi Brian. This is a duplicate of #50. Will be fixed in v1.1 coming by the end of March.

Thank you for reporting.

[2015-02-26 14:34] #54 closed

[2015-02-26 14:37] BrianWillows commented on #54
Sorry. Didn't spot that.
I've fixed it for my own version.
Great software by the way.
________________________________
From: Pawel Decowski [notifications@github.com]
Sent: 26 February 2015 2:34 PM
To: PawelDecowski/jquery-creditcardvalidator
Cc: Brian Willows
Subject: Re: [jquery-creditcardvalidator] Two Valid VISA numbers don't work (#54)

Hi Brian. This is a duplicate of #50<https://github.com/

[2015-03-21 00:58] robertavram opened #55 "feature/diners_club support"
according to:
http://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm

38520000023237 - is a correct diner's club number...
the regex "3(?:0[0-5]|[68][0-9])[0-9]{11}" seems to do the job, 14 digits.

apparently the card can start with 36 or 38 not only 300-305.

...Thanks a lot for everything so far. Works great. Maybe just add a 13 digit option for the Visa. :)

[2015-03-30 11:17] PawelDecowski commented on #55
Hi @robertavram

Visa numbers between 13 and 19 characters long will be available in [1.1](https://github.com/PawelDecowski/jquery-creditcardvalidator/milestones/1.1).

I will look into the Diner’s Club numbers.

Thanks for reporting.

[2015-04-14 06:28] custa1200 opened #57 "Masking"
An option to automatically add the spaces to the card numbers to reflect the spacing on a credit card, i.e. Visa "4444 1234 1234 1234", AMEX "4747 123456 12345"

[2015-04-20 14:50] rojobo opened #58 "SOME VALID VISA & DINERS CLUB NUMBERS ARE MARKED AS INVALID"
Visa: 4222222222222 *
Diners: 38555565010005 & 38520000023237

*Note : Even though this number has a different character count than the other test numbers, it is the correct and functional number.

Those numbers are valid and the validator will not consider them so.

Thanks.

[2015-04-20 14:53] PawelDecowski commented on #58
Duplicate of:

* https://github.com/PawelDecowski/jquery-creditcardvalidator/issues/55 and
* https://github.com/PawelDecowski/jquery-creditcardvalidator/pull/50

[2015-04-20 14:53] #58 closed

[2015-04-20 14:54] PawelDecowski commented on #57
This is a validator, not a formatter. There are plenty other tools that will format input fields for you.

[2015-06-12 21:01] mateuspadua opened #59 "Don't detect amex(american express)"
Hello, i did tests with this amex cards:
3700 000000 00002 - amex
372176090165471 - amex

I found this values in this sites:
http://jsfiddle.net/ipsjolly/9whmL9u0/
https://creditcardjs.com/

Thanks for support.

[2015-06-12 21:06] #59 closed

[2015-07-16 14:23] esinanturan opened #61 "Uncaught TypeError: Cannot read property 'replace' of undefined line:188"
line 188 : return number.replace(/[ -]/g, '');
i have got this error , what it might be :S

[2015-07-16 14:24] PawelDecowski commented on #61
What’s the error message? So far you only show the line on which some error occurred.

[2015-07-16 14:27] esinanturan commented on #61
i use plugin like that

        $('#account_number').validateCreditCard(function(result) {
            var card_type=result.card_type == null ? '-' : result.card_type.name;

            if(card_type=='mastercard'){
                    $('img.mastercard').removeClass('blur');
                valid();
            }else if(card_type=='visa'){
                    $('img.visa').removeClass('blur');

[2015-07-16 14:33] esinanturan commented on #61
any idea ?

[2015-07-16 14:42] PawelDecowski commented on #61
I’m not getting any errors using your code: http://codepen.io/paweldecowski/pen/VLBLje

[2015-07-16 14:43] esinanturan commented on #61
:S

[2015-07-16 14:45] esinanturan commented on #61
so what might be wrong with that :S

[2015-07-16 14:46] PawelDecowski commented on #61
What browser are you using?

[2015-07-16 14:46] esinanturan commented on #61
chrome

[2015-07-16 14:48] PawelDecowski commented on #61
Can you reproduce it here: http://codepen.io/paweldecowski/pen/VLBLje

[2015-07-16 14:50] esinanturan commented on #61
i can not :S

[2015-07-16 14:51] esinanturan commented on #61
do you think the other plugins can affect this one ? all plugins are in one file

[2015-07-16 14:51] PawelDecowski commented on #61
Probably. Can you send me a link to the site?

[2015-07-16 14:54] esinanturan commented on #61
how can i send pm on github

[2015-07-16 14:55] PawelDecowski commented on #61
Don’t think you can. Email me at pawel@relish.io.

[2015-07-16 14:58] esinanturan commented on #61
ok check your mails

[2015-07-16 16:24] esinanturan commented on #61
could you find anything ?

[2015-07-16 17:37] PawelDecowski commented on #61
The problem is you run validation on all pages, even those that don’t have the `#account_number` element.

Wrap your validation code in a check to make sure the element exists:

[code]

[2015-07-16 17:39] esinanturan commented on #61
thank you so much

2015-07-16 20:37 GMT+03:00 Pawel Decowski <notifications@github.com>:

[2015-07-16 17:44] #61 closed

[2015-07-22 03:59] gregkerzhner opened #62 "Can't copy and paste code samples from the home page."
Seems like your fancy syntax highlighting is preventing this from happening.  Would be amazing to add some copy and pastable examples to your site, or at least in github.

[2015-08-09 23:28] jgl1976 opened #63 "Never mind"
All good

[2015-08-09 23:37] #63 closed

[2015-08-23 09:32] ksmehra opened #64 "Some Maestro card numbers fail validation"
in one of our apps, we encountered a particular maestro number which failed the validation. but the same number passes validation at this site (http://www.freeformatter.com/credit-card-number-generator-validator.html)

i can provide the card number for investigation.

[2015-08-23 09:42] PawelDecowski commented on #64
Probably not a good idea to post a credit card number online :) Maestro is recognised by the first 4 digits so if you can provide that and the number length, I’ll look into it.

[2015-08-23 09:47] ksmehra commented on #64
true! will not put the CC :1234: here :)

starts with
**5892**

[2015-08-23 17:27] PawelDecowski commented on #64
This seems to be a valid Maestro card prefix.

According to Wikipedia [Bank card numbers](https://en.wikipedia.org/wiki/Bank_card_number) article, all numbers starting with *58* indicate a Maestro card.

It will be added in v1.1.

[2015-08-23 21:03] ksmehra commented on #64
thanks for the pointer. i've fixed the issue in our build. i can send the fix if you'd like, which you can then commit to the mainline.

[2015-09-01 18:53] neotropic2023 opened #66 "Add Support to Validate Security Code/CCV"
Cool script, sadly missing something very crucial, validating the CCV to the credit card number. Or am I missing something and not seeing it anywhere.

[2015-09-01 20:26] PawelDecowski commented on #66
You can't validate a CCV beyond checking its length (4 for Amex, 3 for most others). I don't think you need a plugin for that.

[2015-09-13 17:20] Webde commented on #61
In reality, this problem, occurred for the time execution library and method. Write
[code]

[2015-09-15 02:24] elijahpaul commented on #57
I'm trying to implement your plugin with the [jQuery-Mask-Plugin](https://github.com/igorescobar/jQuery-Mask-Plugin) for formatting, but am experiencing an odd [issue](https://github.com/igorescobar/jQuery-Mask-Plugin/issues/340) (see - [http://jsfiddle.net/56uscbjv/4/](http://jsfiddle.net/56uscbjv/4/)).

@igorescobar suggested it may be an implementation of your plugin.

I know formatting is not

[2015-09-15 09:03] PawelDecowski commented on #57
Hi @elijahpaul,

Thanks for reporting the issue.

I’ll try to look into it later today and will get back as soon as I have some results.

[2015-10-02 18:44] radlws commented on #64
begins with 6304 is both laser and maestro ..  I changed the pattern for maestro as per wikipedia

https://en.wikipedia.org/wiki/Bank_card_number

'^(50|5[6-9]|6[0-9])',

[2015-11-04 08:10] Tusko commented on #66
$('#cvv').on('keyup', function(){
			var reg, ex, cvv = $(this).val(), cardtype = $('#card-number > input').attr('class');
			if(cardtype === 'amex') {
				reg = /^[0-9]{3,4}$/;
			} else {
				reg = /^[0-9]{3}$/;
			}
			ex = reg.exec(cvv);
			if(ex === null) {
				$(this).addClass('error');
			} else {
				$(this).removeClass('error');
			}
		});

@PawelDecowski

[2015-11-09 12:47] ckorakidis opened #68 "RegExp revisiting"
Hi,

I just noticed that the regex in some cases seems to be incomplete (e.g. visa).
Please have a look in a few resources regarding the propper regex:
http://stackoverflow.com/questions/9315647/regex-credit-card-number-tests
http://www.regular-expressions.info/creditcard.html

Regards,
Chris

[2015-11-10 17:09] KevinMcCoy opened #69 "Clean download JS error"
Uncaught TypeError: Cannot read property 'replace' of undefined - line 188 jquery.creditCardValidator.js

I'm loading:
jquery-1.11.3.min.js
jquery-ui-1.11.4/jquery-ui.min.js

then loading:
jquery.creditCardValidator.js

Get an error on that basic setup.

[2015-11-18 12:43] #66 closed

[2015-11-18 12:48] PawelDecowski commented on #68
If there are any numbers that fail validation if they shouldn’t, then please post the IIN and a *reliable* source that says it’s valid. Currently the list of IIN prefixes is based on [Wikipedia](https://en.wikipedia.org/wiki/Bank_card_number) and a few other sources.

[2015-11-18 12:48] #68 closed

[2015-11-18 12:50] PawelDecowski commented on #69
Duplicate of #61

[2015-11-18 12:50] #69 closed

[2015-11-18 12:57] ckorakidis commented on #68
The Wikipedia article you mentioned suggest 13, 16 length for Visa Credit Cards. Please check also the suggested references in the initial message.
Example of 13-digit Visa: 4556781815037
For more valid CC numbers you can use http://www.getcreditcardnumbers.com/

[2015-11-18 13:00] PawelDecowski commented on #68
#50

Like I said, please report **concrete** numbers that don’t work. I don’t have time to go through these websites and test all numbers.

[2015-11-18 13:01] ckorakidis commented on #68
I already did it: 4556781815037

[2015-11-18 13:03] PawelDecowski commented on #68
And I replied that it’s already planned for next version: #50

Please read with understanding. Every time I have to clarify something that I’ve already explained, it takes me away from, for example, working on this project.

[2015-11-18 21:13] #37 closed, assigned to PawelDecowski

[2015-11-19 10:43] PawelDecowski commented on #62
As it turns out, it *is* possible to copy the code samples from the page. The problem is Prism’s (the syntax highlighting plugin) CSS causes the selection to not be visible so you can’t see it, but it’s there.

This is fixed in a newer version of Prism, which I will upgrade to in the next release (by the end of this month).

[2015-12-28 09:51] alexiskattan opened #70 "Add to npm?"
Any chance to add this to npm?

[2015-12-28 11:35] PawelDecowski commented on #70
Sure. Can’t see why not.

[2016-01-20 08:01] pawlik commented on #66
The validation doesn't have to be IN this plugin, but the information about the valid cvv length could. Please see https://github.com/PawelDecowski/jquery-creditcardvalidator/pull/73

[2016-01-20 11:30] PawelDecowski commented on #66
@pawlik I suppose it wouldn’t hurt to add it to the `card_types` property. That way it would be available in the `result` object.

[2016-01-20 11:36] pawlik commented on #66
messed up branches, here it is: https://github.com/PawelDecowski/jquery-creditcardvalidator/pull/74

[2016-01-20 17:54] paulorudolph07 opened #75 "Include validation to Aura CreditCard"
first , I enjoyed the plugin and you guys are to be congratulated . As a suggestion , you guys can put a validation for the Aura card

[2016-02-25 05:41] jothikannan opened #76 "How to call the trigger function in latest version"
In older version i found some trigger function to check the card is valid or invalid

[code]

i do not find this in latest version, i need this trigger in latest, how can i do it ?

[2016-02-25 19:15] PawelDecowski commented on #76
[code]

[2016-02-25 19:15] #76 closed

[2016-02-25 19:18] PawelDecowski commented on #75
Thanks!

What’s Aura card?

Could you provide a source of IIN ranges for Aura cards?

[2016-03-02 16:37] PawelDecowski commented on #75
@paulorudolph07 ?

[2016-03-09 17:24] italomandara opened #77 "ie11 compatibility issue"
ie11 - windows8
Method get_card_type returns always null, preventing to detect the card type

commenting the lines below seems to fix the problem
[code]

[2016-03-09 17:50] PawelDecowski commented on #77
You mean commenting out the lines above fixes a problem with `get_card_type()` method? This makes no sense. I will have to test it but I don’t have Windows 8 so will have to download a VirtualBox image (meaning it will take some time).

If you could provide more details that would definitely speed things up.

Thanks for reporting!

[2016-03-09 18:06] italomandara commented on #77
Yes, basically the problem is not in get_card_type, is what you pass to that method, looks like ie11 is not able to get the input value unless you comment that part

[2016-03-09 19:03] italomandara commented on #77
It's not your code, you can close the issue. the problem was the document ready function wasn't wrapping the initialisation function. worked well on other browsers, that's interesting.

[2016-03-09 19:48] PawelDecowski commented on #77
No worries! Glad you figured it out.

[2016-03-09 19:48] #77 closed

[2016-04-04 13:09] d3bugg3r opened #79 "Add new Mastercard range"
Start from Oct 2016 Mastercard is introducing a new range of numbers with the following first 6 digits range, 222100-272099

please add it up

[2016-04-07 17:56] poorpaddy opened #80 "Demo Amex Support"
I'm trying to do something very much like your demo but for some reason when I attempt to add Amex support it typically displays as Discover.

[2016-04-15 12:35] PawelDecowski commented on #79
Thanks. Source?

[2016-04-15 16:09] reamaor commented on #79
@PawelDecowski since we work heavily in the industry it was a direct request by several psp's.
but you can see articles here:

[](https://www.realexpayments.com/blog/mastercard-to-introduce-new-card-numbers/)
[](https://www.forte.net/blog/mastercard-bin-range-coming/)
[](https://en.wikipedia.org/wiki/Bank_card_number)

[2016-05-18 00:17] arunnayak opened #81 "Change request: The BIN range for new mastercard"
We have got an email from our payment gateway provider saying there is a change in master card BIN, mastercards will also start with "2" from now onwards.
the current validator does not support this :(

Thanks

[2016-05-24 07:19] #81 closed

[2016-05-24 07:20] arunnayak commented on #81
duplicate

[2016-05-25 21:57] kyleschulz commented on #79
I'm looking for the same update. We've currently implemented a work around until this has been updated.

[2016-06-21 17:41] cauealvesbraz opened #82 "Elo support"
Any idea of having support for `ELO Credit Card`?

[2016-06-28 04:04] douggr commented on #75
**Aura** is Brazilian brand I think, the pattern is /^50/.

[2016-07-19 14:47] divbox commented on #79
looking for same update as well.  thanks

[2016-07-22 04:47] ianleeder commented on #79
I too am in need of this.  I found a decent reference on the topic:
https://www.mastercard.us/en-us/issuers/get-support/2-series-bin-expansion.html
While they don't seem state it clearly on that page, the linked PDFs all state in the opening sentence:

For the moment I've manually updated my javascript, but I would prefer not to deviate from the published version.  I <s>stole the regex</s> _learnt

[2016-08-06 07:07] paulyeo commented on #79
I've received an email from a rep and for the time being implemented ianleeder's patch above. There is an implementation deadline of 30 Sep 2016 so am hoping to update from main branch once an official update is released... Thanks!
---
Dear Merchant
As a step to increasing the supply of BINs, MasterCard is in the process of issuing cards within BIN range from 222100 to 272099. This will be in addi

[2016-08-12 13:10] PawelDecowski commented on #79
Thanks, guys. This will be included in the next version, to be released in September.

[2016-08-13 09:34] ubiquitas opened #85 "Credit vs Debit cards"
any plans to differentiate between the two - UK user here and it's needed

also I think Maestro no longer requires start date / issue number - here in the UK at least

[2016-08-13 09:38] PawelDecowski commented on #85
I don’t think there’s a way to tell if a card is a debit or credit based on NIN. It’s difficult enough to find NIN ranges for different brands.

The validator has nothing to do with start date or issue number. It’s just a demo form.

[2016-08-13 09:42] ubiquitas commented on #85
thanks for rapid reply :)

I guess I can ask user if it's debit or credit as part of my checkout

[2016-08-19 12:07] szepgerg commented on #79
Hi, I made this regexp for the new BIN range. Could you please check if is valid?

`(2221[0-9]{2}|222[2-9][0-9]{2}|22[3-9][0-9]{3}|2[3-6][0-9]{4}|27[0-1][0-9]{3}|2720[0-9]{2})`

[2016-09-03 08:17] monecchi commented on #75
Yeah that would be great to have validation for Aura.

[2016-09-03 09:47] PawelDecowski commented on #75
@douggr

`/^50/` is MasterCard so I can’t use that to match Aura.

Is Aura actually a card brand (like Visa or MasterCard) or just an issuer?

[2016-09-03 13:11] monecchi commented on #75
@douggr Aura is a brand which belongs to the BNP Paribas French Group and also seems to be managed by another corporation called Cetelem widely active both in Brazil, Portugal and other european countries. Their portfolio is consisted of around 3,5 million credit cards – 1 million of those already carry the Mastercard brand and the rest are still issued with the Aura brand.

I've made a brief rese

[2016-09-12 13:55] ntxt commented on #79
Hi Paweł, I've made a PR before I found the above conversation. Anyway, thanks and looking forward to the next ver.

[2016-09-19 12:37] abalmus opened #87 "Accepted card types"
It is not possible to set a list of acceptable card types, if the card type not in the list card will be invalid.

[2016-09-19 13:52] #87 closed

[2016-09-20 01:46] eggsurplus commented on #79
Had trouble catching all cases with the examples above. This worked for the needed ranges:
`^5$|^5[1-5][0-9]{0,14}$|^2[2]?[2]?$|^2221[0-9]{0,12}$|^222[3-9][0-9]{0,12}$|^22[3-9][0-9]{0,13}$|^2[3-6][0-9]{0,14}$|^2[7]?$|^27[2]?$|^27[0-1][0-9]{0,12}$|^2720[0-9]{0,12}$`

[2016-09-20 15:19] alexhansford commented on #85
Currently Barclaycard provides a list of debit/credit BIN ranges here: https://www.barclaycard.co.uk/business/accepting-payments/bin-range (see the attached spreadsheet for UK debit ranges)

It would be helpful to indicate whether the card presented looks like a Debit or Credit card number - but I wouldn't recommend validating against this as the list is never perfect.

[2016-09-21 06:45] ubiquitas commented on #85
thanks Alex - turned out my payment gateway (SagePay) don't require debit cards to be marked any differently to credit cards. So I can present my customers with a simple Visa, Mastercard, Maestro choice.
Hopefully 1.1 is released soon with more recent BIN changes as I've held off implementing this validator as yet.

[2016-10-02 22:20] akhilgoyal commented on #79
@PawelDecowski could you provide some update on this please?

[2016-10-03 11:02] PawelDecowski commented on #79
@akhilgoyal I’ll do my best to finish it tonight.

[2016-10-04 13:57] dtayloresw commented on #79
Hi @PawelDecowski thanks for this. Any updates?

[2016-10-08 17:24] PawelDecowski commented on #79
v1.1 will be released tonight.

[2016-10-08 17:24] #79 closed

[2016-10-08 18:35] #64 closed

[2016-10-08 19:04] #62 closed

[2016-10-08 19:06] PawelDecowski commented on #85
@ubiquitas 1.1 has been released

[2016-10-08 19:06] #85 closed

[2016-10-09 07:50] PawelDecowski commented on #82
I’ll look into it for v1.2

[2016-10-09 07:52] #57 closed

[2016-10-09 22:40] ceasbz commented on #82
@PawelDecowski If need any help, let me know. :)

[2016-10-10 09:47] dtayloresw commented on #79
Thanks @PawelDecowski for this much appreciated

[2016-10-17 17:14] PawelDecowski commented on #75
So it basically starts with 5078?

The question is: should I add a card, which “will be out of the market soon“?

[2016-10-17 17:21] PawelDecowski opened #88 "Use Gulp or Grunt instead of CodeKit"
CodeKit’s config file doesn’t play nice with changing branches. It updates every time you switch a branch and often causes conflicts.

[2016-10-17 19:49] PawelDecowski commented on #80
Do you still need help with this?

[2016-10-17 20:07] PawelDecowski commented on #34
Actually, this can’t be done without introducing breaking changes.

For example, cards starting with `50` are Maestro cards. But cards starting with `5019` are Dankort. As you can see all Dankort cards will also match Maestro.

The way it’s solved currently, is the card ranges are sorted with more specific first: Dankort is more specific (`5019`) than Maestro (`50`) so it’s a match.

The only solu

[2016-10-17 20:10] PawelDecowski commented on #40
@rafaellyra So all I need to do is wrap the plugin in this: https://github.com/umdjs/umd/blob/master/templates/jqueryPlugin.js?

[2016-10-17 20:16] PawelDecowski commented on #82
@ceasbz Do you have any sources that provide IIN ranges? I can’t find anything reliable.

[2016-10-17 21:49] ceasbz commented on #82
@PawelDecowski Yes, see here: https://github.com/jessepollak/payment/issues/27 this table are updated with the last version :)

[2016-10-17 21:51] ceasbz commented on #88
@PawelDecowski Maybe [gulp](http://gulpjs.com/)? Is more fast :)

[2016-10-18 03:54] PawelDecowski commented on #88
@ceasbz Good suggestion. Will consider. Changed title accordingly.

[2016-10-18 05:56] PawelDecowski commented on #88
The only thing is, I implemented Grunt last night.

I wouldn’t mind having both, so users can choose. The problem is grunt-coffee uses CoffeeScript 1.10, whereas gulp-coffee uses CoffeeScript 1.11.1 (at the time of writing this comment). I don’t like the idea of people overwriting the JS file just because they compiled it using a different version of CoffeeScript so it produced different code. I u

[2016-10-18 05:59] PawelDecowski commented on #82
This is just a comment by you on another project. Not that I don’t trust you ;) but where did you get the list from?

[2016-10-18 12:08] ceasbz commented on #82
@PawelDecowski Here in our company, we use the ELO Payment. And every update, I receive a table with the current IIN ranges. :)

[2016-10-19 14:25] PawelDecowski commented on #82
OK. As long as they don’t collide with other cards, I’ll add them.

[2016-10-19 14:39] ceasbz commented on #82
I am searching where is the documentation about that.
Em qua, 19 de out de 2016 às 12:25, Pawel Decowski <notifications@github.com>
escreveu:

[2016-10-19 14:40] ceasbz commented on #82
@PawelDecowski I am searching where is the documentation about that. :)

[2016-10-19 15:22] hasangursoy opened #89 "Triggering change and validation after clear"
I'm trying to use this plugin for CC validation but I have problem when I reset cc input and trigger change. Is there any event to trigger change/validate again or are you planing to implement any?

[2016-10-19 15:33] PawelDecowski commented on #89
What do you mean by “reset cc input”?

[2016-10-19 19:03] hasangursoy commented on #89
I have a html text input for credit card number and I'm using this plugin. We post data with ajax to save credit card info, on successful save we clear the credit card input like $("#txtCc").val(""); but creditcardvalidator does not detect text change so I want to trigger validation with updated value.

[2016-10-19 20:20] PawelDecowski commented on #89
Thanks for the clarification.

The plugin runs when the `input` event — or `change`, in older browsers — is triggered. These events aren’t fired when you change the value of the field programmatically.

All you have to do is trigger it after changing the value of the field:

[code]

And if you want to support older browsers:

[code]

`change()`, in this case, is a shortcut for `trigger('change')`.

[2016-10-19 20:32] #80 closed

[2016-10-20 04:08] monecchi commented on #75
@paulorudolph07  I believe it is a valid request from a UX perspective. The migration process might take some time, so until there I see it as a UX fix in order to match the old card brand while the migration is not complete.

[2016-10-20 07:17] PawelDecowski commented on #75
But `50` is a range reserved for Maestro. I’m worried that there will be collisions. Since there is no official source for Aura, I’m very hesitant to add it.

[2016-10-20 07:21] PawelDecowski opened #90 "Add China UnionPay"

[2016-10-20 07:33] PawelDecowski commented on #82
Are ELO card numbers Luhn-validated? According to [this](https://github.com/Fivell/credit_card_validations/blob/bf5ddfed273ce7aed8b5b453845e83ac467e654f/lib/data/brands.yaml#L276), they’re not.

[2016-10-20 08:17] hasangursoy commented on #89
I've tried this previously but it broke validation but I just found out that possibly another plugin breaks my code. [http://firstopinion.github.io/formatter.js/](firstopinion.github.io/formatter.js)

[2016-10-21 20:45] douggr commented on #75
@monecchi thank you for the great explanation! Awesome.

I double checked a validator we developed back in the days, they use `/^50/` for Aura. Awkwardly all UnitTests begins with `5078`, actually `50786`. But I'm not sure if the "6" matters.

I'd quote @PawelDecowski opinion on this:

[2016-10-28 04:17] lucasisola opened #91 "New MasterCard BIN Series Numbers"
MasterCard is introducing a new Bank Identification Number (BIN) series that begins with 2. This new series **(222100–272099)** will be processed the same way as the existing 51-55 BIN series today.

MasterCard expects the 2-series BINs to be completely supported no later than October 14, 2016. Issuance of cards in this new series is not expected until the first quarter of 2017.

Some test credit

[2016-10-28 09:52] PawelDecowski commented on #91
Already supported: https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/master/jquery.creditCardValidator.coffee#L66

[2016-10-28 09:52] #91 closed

[2016-10-28 18:11] lucasisola commented on #91
@PawelDecowski So awesome of you to reply so quick!! I noticed though that the demo page you have setup isn't displaying the MasterCard logo for this new BIN...

See screencast: http://recordit.co/L5JZTBXJGJ

[2016-10-28 18:24] PawelDecowski commented on #91
Looks like the demo page still uses 1.0. The new MasterCard range was added in 1.1. I could swear I updated it. I’ll try to find time to fix it tomorrow.

[2016-10-28 18:46] lucasisola commented on #91
@PawelDecowski No sweat!! I think that was the problem with our app too. We're using 1.0.

Thanks for the reply. Cheers, Lucas

[2016-11-10 05:59] ashokbhamla opened #92 "Amex card is not preset"
The code is amazing but please add amex card  and JCB also

[2016-11-10 11:45] PawelDecowski commented on #92
Both are supported.

[2016-11-10 11:45] #92 closed

[2016-11-10 14:34] ttibau commented on #82
Please, add support do ELO! <3

[2016-11-10 14:35] ceasbz commented on #82
Hey @PawelDecowski sorry for delay.

I don't remember about that, do you have any progress?

[2016-11-14 13:55] PawelDecowski commented on #89
Yes, this is normal. `keyup` is a fallback so its handler is removed when the first `input` event is received. Since we received `input` event, it means it’s supported so we don’t need `keyup`.

[2016-11-29 19:16] Romanulus opened #93 "MasterCard EMV Support"
As per the new BINs coming out from MasterCard:
https://www.mastercard.us/en-us/issuers/get-support/2-series-bin-expansion.html

I have been using a really simple pattern (for purposes on the UI):
`/^[2]\d{1}/`

However, I have seen some more thorough versions out there, ala:
`/^5[1-5]\d{2}-?\d{4}-?\d{4}-?\d{4}$|^2(?:2(?:2[1-9]|[3-9]\d)|[3-6]\d\d|7(?:[01]\d|20))-?\d{4}-?\d{4}-?\d{4}$/`

Will this

[2016-11-29 20:00] PawelDecowski commented on #93
Sooner than you think. So soon, that it’s already supported in [v1.1](https://github.com/PawelDecowski/jquery-creditcardvalidator/releases/tag/v1.1.0) ;)\

[2016-11-29 22:14] Romanulus commented on #93
ZOMG... Thanks. :)
Way to RTFM!

[2016-11-29 22:14] #93 closed

[2017-01-04 06:24] himanshutecstub opened #94 "'American Express' card not supported."
This jquery script not support 'American Express' card.

[2017-01-04 06:40] #94 closed

[2017-01-19 13:59] kichawa opened #95 "update regex for credit card for example for mastercard"
example:

https://github.com/jessepollak/card/blob/master/dist/jquery.card.js#L1095

[2017-01-19 14:20] PawelDecowski commented on #95
I have no idea what you mean. Can you clarify?

[2017-02-16 11:29] mateuspadua commented on #82
@ceasbz If you still need this, follow the solution just below. Valeuuuuu :)

....
,{
        name: 'aura',
        range: '5078',
        valid_length: [19]
      }, {
        name: 'elo',
        range: '4011, 401178, 401179, 431274, 438935, 451416, 457393, 4576, 457631, 457632, ' +
               '504175, 506699-506778, 509000-509999, ' +
               '627780, 636297, 636368, 636369, ' +

[2017-02-16 11:32] mateuspadua commented on #75
@ceasbz If you still need this, follow the solution here #82, last comment . Abraços :)

[2017-03-06 23:06] yuxiaomin opened #96 "Can you add license file to porject?"
In changelog you mentioned that it is MIT license. But it's better that you can include a license file in the project root folder.

[2017-03-13 11:17] alpharder commented on #95
Beginning in 2017, MasterCard cards will also be issued with account numbers beginning with a “2”. The cards beginning with a 2 will be processed in the same manner as current MasterCard cards.
MasterCard requires that all point-of-sale systems accepting the current 5 series cards must also be able to accept the cards with the new 2 series number.

[2017-03-13 11:21] PawelDecowski commented on #95
Mastercard `2` series cards have been supported since version 1.1, which was released in October 2016.

[2017-03-13 11:21] #95 closed

[2017-03-13 11:23] alpharder commented on #95
@PawelDecowski Wow, missed this in changelog. Thanks!

[2017-03-13 13:19] alpharder commented on #95
@PawelDecowski Unfortunately, the existing code doesn't actually solve the problem as the `2223000048400011` card number is not being detected as Mastercard.

[2017-03-13 13:22] PawelDecowski commented on #95
![image](https://cloud.githubusercontent.com/assets/657678/23856072/0dbc59ce-07f0-11e7-8048-1c58bb5435ab.png)

This is from the example code in the repo.

[2017-03-13 13:27] alpharder commented on #95
@PawelDecowski that was my fault, sorry. Code works excellent.

[2017-03-13 13:28] PawelDecowski commented on #95
👍

[2017-06-06 15:00] jaiprakashkhowal opened #97 "How to add new card type"
I want to validate Rupay card.
How can i do that without changing the library file, Please suggest.

[2017-06-06 15:28] PawelDecowski commented on #97
What's Rupay card?

[2017-06-07 04:31] jaiprakashkhowal commented on #97
RuPay Card is an Indian version of credit/debit card.

[https://en.wikipedia.org/wiki/RuPay](https://en.wikipedia.org/wiki/RuPay)

[2017-06-08 18:38] waghcwb opened #101 "Add coffeelint support"
Should we add coffeelint support? This will make the source code more concise and professional.

[2017-06-14 19:10] starlino opened #102 "Code breaks in normalize method if number is <undefined>"
Temporary workaround:

[code]

[2017-06-14 19:15] PawelDecowski commented on #102
Why would `number` be `undefined`? If you provide a valid `input` field it will always have a value.

[2017-06-14 19:22] starlino commented on #102
This actually happens in CS-Cart  that uses your library. I think during some animation/ switching the filed becomes briefly unavailable.  It also might have to do with timeouts and de-synchronized calls. Anyways in real world this can happen unfortunately since DOM is not set in stone. I think it would be useful to do a sanity check for <undefined> since it will trigger an error and interrupt exe

[2017-06-14 19:49] PawelDecowski commented on #102
Ah, OK. That makes sense. What do you think the behaviour should be in that case?

Also, do you have an example of a page where it happens?

[2017-06-14 20:08] starlino commented on #102
I think all you have to do is check that $(_this) still exists. You can use the code I provide above (since it is verified to work), or just check that $(_this).size()  > 0 , or better yet  'undefined'  != typeof $(_this).val()

[2017-06-14 20:54] PawelDecowski commented on #102
Thanks. I’ll look into this.

[2017-06-15 18:02] mac9416 commented on #55
More support for this update:
https://www.discovernetwork.com/downloads/IPP_VAR_Compliance.pdf
Apparently the Diner's cards are processed through the Discover network.

[2017-06-20 18:27] ceasbz commented on #82
Ty @mateuspadua

[2017-06-20 18:41] mateuspadua commented on #82
:)

[2017-07-04 12:00] Guilhermimma commented on #97
Same case then @jaiprakashkhowal, but in my case I want to validate the hipercard. A Brazilian version of credit/debit card.

[2017-07-05 07:25] jaiprakashkhowal commented on #97
@Guilhermimma , Please look pull-request #99.  Once #99 merged it will fix all issue like this
If someone konw the name, range and length of card then can utilize it.

[2017-07-05 17:55] Guilhermimma commented on #97
@jaiprakashkhowal thanks a lot!

[2017-07-20 16:19] omvaishnav opened #107 "Validation not working while editing after auto filled card number by browser"
I am using chrome browser to save credit card numbers and after using auto fill if I want to edit the card numbers the validation is not working. It's not getting that which card types and valid or not.

[2017-08-01 17:20] samuelgoff opened #108 "several valid Discover card numbers don't validate"
Hello,

I've been provided with several test card numbers from a credit card processing vendor, and they do not validate properly with jquery-creditcardvalidator:

- 6011 0255 0013 6880
- 6011 2023 0012 2430
- 6011 4855 0016 0260
- 6011 7400 0018 6190
- 6011 8699 0013 5410

I've put together a [jsfiddle](https://jsfiddle.net/samuelgoff/dn4f0rwb/11/) to demonstrate the issue.

[2017-08-01 17:25] PawelDecowski commented on #108
Hi,

What brand is this supposed to be? And is there a reliable source that confirms those IINs belong to that brand?

Thanks.

[2017-08-01 17:27] PawelDecowski commented on #108
Nevermind. Just saw in the title you said Discover. How about a source then?

[2017-08-01 17:28] #89 closed

[2017-08-01 17:31] PawelDecowski commented on #96
Will add it in [v1.2)[https://github.com/PawelDecowski/jquery-creditcardvalidator/milestone/3]

[2017-08-01 17:34] PawelDecowski commented on #101
Can’t see why not! I’ll look into it for [v1.2](https://github.com/PawelDecowski/jquery-creditcardvalidator/milestone/3).

[2017-08-09 22:01] lfrohman opened #109 "Diners Club International"
I went to:
https://www.getnewidentity.com/diners-club-credit-card.php
but the numbers in the DC International column did not validate.

[2017-08-09 22:26] PawelDecowski commented on #109
The big question is: is this a reliable source?

[2017-08-11 23:08] ModelosPR opened #110 "Data-Mask breaks validation"
I would like to be able to format the credit card, as it is input, make it easier to read. I tried using bootstrap-inputmask with the `code data-mask="9999 9999 9999 ?9999 999"`, which formats it nicely. However, the input will not validate.

I tried utilizing `.replace(" ", "");` at several points in an attempt to eliminate the blank spaces before validation with no success.

Any suggestions?

[2017-08-12 09:29] PawelDecowski commented on #110
I have no idea why it doesn’t work with bootstrap-inputmask. First thing that comes to mind is that one unbinds the other’s events. jCCV’s events are namespaced since v1.0 so that shouldn’t happen, though.

I’ll do some tests and get back to you.

[2017-08-17 11:30] AbdullahDahmash commented on #70
1+

[2017-08-21 14:48] ModelosPR commented on #110
Hi, Where you able to find anything on this? Thank!

[2017-09-07 10:30] PawelDecowski commented on #110
Sorry, I’ve been quite busy lately! I’ll look into it as soon as I can.

[2017-09-15 04:16] lucasvm commented on #108
I got the same problem card number example: 6011111111111115
Got: Please enter a valid credit card type number.

[2017-09-18 20:08] dubcanada commented on #108
Those numbers don't pass Stripe credit card validation. I don't think those are valid numbers.

They also don't pass the Luhn test.

[2017-10-25 12:53] NileshDaldra opened #111 "it gives invalid status to Diners Club card 38520000023237"
it not working with some of cards Diners Club 38520000023237

[2017-11-01 12:40] abdelrahmanahmed opened #112 "Is there a way to define this card is debit or credit card"
How can you tell if any card entered is debit or credit card ?

[2017-11-01 12:41] PawelDecowski commented on #112
Don’t think you can, based on the card number alone.

[2017-11-01 12:45] abdelrahmanahmed commented on #112
then how did they identify card type [here](https://binlist.net/) based on number only?

[2017-11-01 13:15] PawelDecowski commented on #112
That looks super cool but, unfortunately, they don’t say anything about the source for their data so I can’t say how reliable it is.

I’m yet to find a reliable source for [IIN](https://en.wikipedia.org/wiki/Payment_card_number#Issuer_identification_number_.28IIN.29)s that includes granular data such as whether it’s a debit or credit card.

Even they say on that page:

I wish they had anything to

[2017-12-06 19:28] truemed commented on #40
@PawelDecowski I am using amd/requirejs with my project and would like to use your plugin. If you had this universal module pattern, it would be great. It might be as simple as using this gulp utility to wrap the plugin https://github.com/yivo/gulp-umd-wrap
or wrap the coffeescript code with this template https://gist.github.com/dra1n/6433619

[2017-12-06 19:31] PawelDecowski commented on #40
@truemed It’ll be added in [v1.2](https://github.com/PawelDecowski/jquery-creditcardvalidator/milestone/3).

[2018-01-29 00:02] doanerock opened #115 "zip code"
Why is there no zip code option?

[2018-02-02 08:43] PawelDecowski commented on #115
This is a credit card _number_ validator. Validating zip codes is out of the scope of the project. I’m sure there are plenty of zip code validators you can use.

[2018-02-02 08:43] #115 closed

[2018-02-05 11:00] 100jkl opened #116 "Uncaught TypeError: Cannot read property 'replace' of undefined"
Hi, I have a problem.
I can't see the personalize  section of my website. This is the error that I receive when I open the console.

Uncaught TypeError: Cannot read property ‘replace’ of undefined
at Function.m.template (load-scripts.php?c=0&load[]=jquery-core,jquery-migrate,jquery-ui-core,jquery-ui-widget,jquery-ui-mouse,jquery-ui-draggable,underscore,wp-a11y,wp-util,jquery&load[]=-ui-sortable,jq

[2018-02-07 00:46] juscc opened #117 "Update mastercard validation to cater for new 2-series BIN"
As of January 2017 mastercard has started issuing 2-series BIN
https://www.mastercard.us/en-us/issuers/get-support/2-series-bin-expansion.html.

[2018-02-07 00:48] #117 closed

[2018-02-07 00:49] juscc commented on #117
never mind, looks like the new range is already included!

[2018-03-30 09:27] Namco8 opened #119 "this.on is not a function"
Added the Script + CSS but still not working

Used the same code .. but still doesn't work.

![creditcardissue](https://user-images.githubusercontent.com/37927909/38132926-ae391358-342a-11e8-88b6-72c260af2380.jpg)

[2018-03-30 15:45] PawelDecowski commented on #119
Show us the source.

[2018-04-04 19:11] mkaatman opened #120 "Mastercard added an additional range in 2017"
https://www.mastercard.us/en-us/issuers/get-support/2-series-bin-expansion.html

[2018-04-04 19:28] PawelDecowski commented on #120
Already supported: https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/master/jquery.creditCardValidator.coffee#L66

[2018-04-04 19:28] #120 closed

[2018-04-04 20:45] mkaatman commented on #120
http://jquerycreditcardvalidator.com/ doesn't seem to support it. I tried typing in: 222100

[2018-04-04 21:06] PawelDecowski commented on #120
The demo runs an older version of the plugin before the support for it was added.

It’s on my to-do to update it.

[2018-04-23 20:56] NathanielB2 opened #121 "why is this not working?"
I can't find any examples on how to get result at the same time only accept certain cards.

I have this code currently but only cards that seem to work is visa and mastercard.

	var payment_card_type='';
	var classesN = "visa mastercard discover amex";
$('#payment_card_number').validateCreditCard( function(result){
		$(this).removeClass(classesN);
		$(this).addClass( result.card_type.name );
		if

[2018-04-23 21:02] PawelDecowski commented on #121
Are you sure you’re testing with valid Discover and Amex cards? Both examples should work as far as I can tell.

[2018-04-23 21:11] NathanielB2 commented on #121
I was using these https://www.paypalobjects.com/en_AU/vhelp/paypalmanager_help/credit_card_numbers.htm

[2018-04-23 21:18] NathanielB2 commented on #121
I think I got it working.  But if someone sees anything wrong with how I'm doing this please let me know.

[2018-04-23 21:56] NathanielB2 commented on #121
PawelDecowski  I have another question/issue.  As I type in a card number say 6011 the added class "valid" is being added to the input box but I have not typed the complete number yet.

[2018-05-07 15:09] ghost opened #122 "Request - CDNJS Version"
Would love to see this on CDNJS!

[2018-05-07 15:53] MartinKolarik commented on #122
You can use
https://cdn.jsdelivr.net/gh/PawelDecowski/jquery-creditcardvalidator@1.1.0/jquery.creditCardValidator.js (original file)
or
https://cdn.jsdelivr.net/gh/PawelDecowski/jquery-creditcardvalidator@1.1.0/jquery.creditCardValidator.min.js (minified)

[2018-05-28 16:24] sourabh1801 opened #123 "Uncaught TypeError : cannot read property 'replace' of undefined In formbuilder"
I am getting above error when using the plugin - formbuilder

[2018-09-16 18:52] sultttan commented on #90
D

[2018-09-19 05:05] benjaminjames opened #124 "2 series Mastercard does not validate"
This year Mastercard is issuing new debit cards prefixed with "2" instead of the traditional "5". Currently these are failing to be recognized. Example card number: 2226470000082007 EXP: 10/21 CVC: 153

[2018-10-19 08:21] oscarhandsome commented on #61
This is so helped to me because I developed a static view of the form, but on the production backend - devs made automatically generated the form after dom is loaded.

[2018-10-23 07:18] oscarhandsome opened #125 "Not valid card shows how valid"
Hello @PawelDecowski and developer.
If somebody knows how to resolve this issue please explain to me?

I have a simple input field.
[Link on the html](http://almall.elbargo.ru/checkout-step-3.html)
[image ](http://almall.elbargo.ru/almall_checkout.jpg) how it works on my dev

My problem is:
I input number, then with regExp is converting to string with after each 4 digits spaces.
and for example, I

[2018-10-23 07:36] oscarhandsome commented on #125
@PawelDecowski
I tried your recommendations, both but if delete last 4 digits this all okay
[image](http://almall.elbargo.ru/almall_checkout2.jpg)
but if I deleted 2 last digits this is valid :)
[image](http://almall.elbargo.ru/almall_checkout3.jpg)

i have no idea why it happens...

[2018-10-23 08:08] PawelDecowski commented on #125
Visa numbers can be between 13 and 19 digits long. You just happened to end up with a 14 digit long number that has a valid Luhn checksum after removing the last 2 digits. It’s pure chance. Try another number and it’ll most likely fail.

[2018-10-23 10:22] oscarhandsome commented on #125
@PawelDecowski
this depends from a country?

[2018-10-23 11:11] oscarhandsome commented on #125
This validator can work with [payfort_fort ](https://github.com/payfort/opencart-payfort/tree/master/upload/catalog/view/javascript/payfort_fort)
I just now, understand that your developed script also there.... awesome!

[2018-11-16 15:21] shareefhiasat opened #126 "I cant find where its hosted on any online CDN"
I tried to search for it online, i could not find it for example
https://www.jsdelivr.com/?query=cardvalidator

I need CDN URL for it please thanks

I found this, https://www.jsdelivr.com/package/npm/jquery-creditcardvalidator but its not same version
it's like another one, not yours?

[2018-11-16 16:56] PawelDecowski commented on #126
I haven’t submitted it to any CDNs. I’ve looked into adding it to CDNJS; I’ll do it when I have the time.

[2018-11-16 16:59] PawelDecowski commented on #126
Actually, it’s available on JsDelivr:

https://www.jsdelivr.com/package/npm/jquery-creditcardvalidator

[2018-11-16 17:02] PawelDecowski commented on #126
This is a direct link to the most recent version:

https://cdn.jsdelivr.net/gh/PawelDecowski/jquery-creditcardvalidator@1.1.0/jquery.creditCardValidator.min.js

[2018-11-17 07:08] shareefhiasat commented on #126
Thanks, the problem is i need this same exact version not the latetst, i dont want to break my production
or qa test cases check here please

[https://gist.github.com/shareefhiasat/422663251eb38b308a90da331a568458](my version is it the same as latest btw am not used to coffee script)

[2018-11-17 07:58] PawelDecowski commented on #126
You’re using v1.1 as suggested by this line in the Gist:

[code]

So you can use this:

https://cdn.jsdelivr.net/gh/PawelDecowski/jquery-creditcardvalidator@1.1.0/jquery.creditCardValidator.min.js

[2018-11-17 08:02] shareefhiasat commented on #126
thanks so much i will test just in case

On Sat, Nov 17, 2018 at 10:58 AM Pawel Decowski <notifications@github.com>
wrote:

--

*Mob*:+962 772211752

[2019-02-22 14:21] PawelDecowski commented on #124
This has been supported since version 1.1 (November 2016):

https://github.com/PawelDecowski/jquery-creditcardvalidator/blob/v1.1.0/jquery.creditCardValidator.coffee#L66

[2019-02-22 14:21] #124 closed

[2019-02-22 14:22] #125 closed

[2019-02-22 14:23] #121 closed

[2019-02-22 14:24] #119 closed

[2019-02-22 14:25] #112 closed

[2019-03-12 19:57] benjaminjames commented on #124
@PawelDecowski Thanks, but is there a reason 2-series cards are not recognized on https://jquerycreditcardvalidator.com/ ?

[2019-03-12 21:45] PawelDecowski commented on #124
Yes. The homepage uses an old version of the plugin. I’ll update it soon.

[2019-03-13 11:13] PawelDecowski opened #127 "Update the plugin used on the homepage to the most recent version"

[2019-09-13 06:15] omvaishnav opened #128 "Can we get bank name as well along with card type?"
I want to detect the bank name as well with card type. Is it possible to get this?

[2019-09-13 06:36] #128 closed, assigned to nobody

[2019-09-25 11:09] vanteew29 commented on #127
127

[2019-09-25 11:09] vanteew29 commented on #127
1.2

[2020-04-28 00:13] isacdev1 opened #129 "dddds"

[2020-05-22 06:01] Nutza974 opened #132 "J"

[2020-06-13 19:29] #132 closed

[2020-06-27 08:30] #129 closed

[2020-07-20 22:19] nelsongustavo commented on #82
@mateuspadua Como vc alterou esse json? Obrigado.

[2020-11-02 14:55] uncle9999 commented on #90
#133

[2020-11-02 14:55] uncle9999 commented on #90
@PawelDecowski

[2020-11-02 14:56] uncle9999 commented on #90
@uncle9999

[2020-11-02 14:58] uncle9999 commented on #90
patch-433

[2020-11-02 14:58] uncle9999 commented on #90
#100

[2020-11-02 14:59] uncle9999 commented on #90
#133

[2020-11-02 15:00] uncle9999 commented on #90
@uncle9999

[2020-11-02 15:00] uncle9999 commented on #90
#2

[2020-11-02 15:00] uncle9999 commented on #90
@PawelDecowski

[2020-11-02 15:01] uncle9999 commented on #90
#90

[2020-11-02 15:22] uncle9999 commented on #75
#104

[2020-11-02 15:22] uncle9999 commented on #75
#133

[2020-11-02 15:22] uncle9999 commented on #75
#33

[2020-11-02 15:23] uncle9999 commented on #75
#73

[2020-11-02 15:23] uncle9999 commented on #75
#22

[2020-11-02 15:24] uncle9999 commented on #75
@PawelDecowski

[2020-11-07 09:58] #126 closed

[2020-11-07 15:22] PawelDecowski commented on #55
I’ve completed this and will include it in [1.2](https://github.com/PawelDecowski/jquery-creditcardvalidator/milestone/3).

I’m aiming to release it tomorrow.

[2020-11-07 15:24] PawelDecowski commented on #55
Let me know if this looks right: 89952336aaeba7443c00c05e09e19fafbbe97576

[2020-11-07 15:25] #55 closed

[2020-11-07 15:28] #75 closed

[2020-11-07 15:32] PawelDecowski commented on #82
I’m hesitant to add this as these ranges collide with Maestro and Visa. I’m closing it until someone can show a reliable source of IINs.

[2020-11-07 15:32] #82 closed

[2020-11-07 16:08] PawelDecowski commented on #88
Gulp has been implemented in v1.2 and will be released soon.

[2020-11-07 16:08] #88 closed

[2020-11-07 16:12] PawelDecowski commented on #90
I’ll happily add it in v1.3 but need some reliable source of IINs.

[2020-11-07 16:12] #90 closed

[2020-11-07 16:18] PawelDecowski commented on #96
Done in [v1.2](https://github.com/PawelDecowski/jquery-creditcardvalidator/milestone/3). Will be release shortly.

[2020-11-07 16:18] #96 closed

[2020-11-07 16:23] #102 closed

[2020-11-11 22:19] leith commented on #70
Looks like various forks have been added over the years:
1.0.0 - https://www.npmjs.com/package/jquery-creditcardvalidator (from @PillowPillow)
1.1.1 - https://www.npmjs.com/package/rc-jquery-creditcardvalidator (from @BrunoSalgado)
1.2.2 - https://www.npmjs.com/package/jquery-creditcardvalidator-intervale (from @argumentus)

Is there a timeline on the official one?

[2020-11-11 22:37] PawelDecowski commented on #70
Yes! I recently took ownership of the first one and will be publishing v1.2 tomorrow.

[2020-11-18 08:47] #127 closed

[2020-11-18 08:50] PawelDecowski commented on #70
[v1.2](https://github.com/PawelDecowski/jquery-creditcardvalidator/releases/tag/v1.2.0) is out and it’s officially on npm:

https://www.npmjs.com/package/jquery-creditcardvalidator

[code]

[2020-11-18 08:50] #70 closed

[2020-11-19 14:11] PawelDecowski commented on #122
Adding the library to CDNJS is in motion and should happen within the next few days.

[2020-11-19 14:28] PawelDecowski commented on #111
Support for Diners Club starting with `38` and 14 digits long has been added in [v1.2](https://github.com/PawelDecowski/jquery-creditcardvalidator/releases/tag/v1.2.0).

[2020-11-19 14:28] #111 closed

[2020-11-19 14:30] PawelDecowski commented on #97
Does anyone have a reliable source for RuPay IIN ranges?

[2020-11-20 16:16] PawelDecowski commented on #122
[jQuery Credit Card Validator is on CDNJS](https://cdnjs.com/libraries/jquery-creditcardvalidator) now.

[2020-11-20 16:16] #122 closed

[2020-12-05 17:04] halilkoca opened #134 "validation doesnt work, but why"
test card no:
5890040000000016 (debit)

[2020-12-06 15:07] PawelDecowski commented on #134
It appears you’re right. I’ll look into this.

[2020-12-08 18:57] PawelDecowski commented on #134
I confirmed that the library correctly recognises the card as valid.

The demo page (https://jquerycreditcardvalidator.com/) doesn’t, because it uses an old version of the library.

[2020-12-08 18:57] #134 closed, assigned to PawelDecowski

[2021-01-13 07:54] omvaishnav opened #135 "Validator not working for Zokudo cards"
I want to allow Zokudo(https://zokudo.com/) cards to validate. How can I enable it?

Also, it would be great if there is a way to add custom card validation without touching the main file.

[2021-02-13 11:33] faidhim opened #136 "use after validation"
Very nice code, what I feel is missing is a simple none tech note to actually explain how to use. i.e. the work flow. e.g. what happens after a card is validated ? In your view, is it then for the payment receiver to log the details and manually process payment or how ?
Thanks

[2021-02-13 13:06] PawelDecowski commented on #136
It’s just a validation library. What you do with the credit card number after validation is out of the scope of this library.

[2021-02-13 13:06] #136 closed, assigned to nobody

[2021-02-16 12:06] omvaishnav opened #137 "Validation is not working for 13 digit VISA cards."

[2021-02-24 12:15] serdaroztuna opened #138 "Add Troy card brand"
Hi,

Can you add Troy to card list ?

Thanks.

Brand Link : [https://troyodeme.com/en/](https://troyodeme.com/en/ )

Bins :
9792** (length : 16)
65****  (length : 16)
36****  (length : 14)

[2021-02-24 12:16] PawelDecowski commented on #138
Hi @serdaroztuna,

I’ll look into this for v1.3.

Thanks for the suggestion!

[2021-02-24 12:18] PawelDecowski commented on #137
Did you test it using the most recent version of the library or just on the demo page? Because the demo page uses an old version of the library before this was fixed.

[2021-03-09 06:49] serdaroztuna commented on #138
Hi @PawelDecowski,

Have you plan for due date?

Thanks.

[2021-03-09 08:38] PawelDecowski commented on #138
It should be out by the end of this month.

[2021-03-09 09:06] serdaroztuna commented on #138
I'm looking forward :)

[2021-04-07 13:14] #108 closed

[2021-04-07 13:14] #137 closed, assigned to nobody

[2021-04-07 13:14] #109 closed

[2021-04-07 13:16] #116 closed

[2021-04-07 13:17] #123 closed

[2021-04-07 13:21] PawelDecowski commented on #135
Looks like this falls under RuPay brand. I’ll look into adding it in the next version.

I’m very hesitant about adding this feature because it would discourage people from suggesting adding new card brands to the plugin.

[2021-04-07 13:33] PawelDecowski commented on #138
Unfortunately, this is not so simple because there’s a clash with Discover, which can also start with `65` and Diners Club which starts with `36`.

[2021-04-07 14:30] serdaroztuna commented on #138
Hi again, troy card is a member of Discover Global Network 65**** 36****. In Turkey 9792**. Can you set only 9792** for troy brand ?

[2021-04-21 05:21] kingjack-pl opened #139 "Please add support for Korean cards - (Bank Card, Hyundai Card)."
These are the cards of these vendors, see sample cards below.

BC - Bank Card
HD - Hyundai Card

Thank you, regards
Jacek Król

[2021-05-20 13:38] omvaishnav commented on #137
I was using the demo only

[2021-05-20 13:42] omvaishnav commented on #135
Ok, thanks for the reply. I will be looking for a new version with the RuPay brand availability.

[2021-05-20 13:42] #135 closed, assigned to nobody

[2021-05-22 06:14] obb12 opened #140 "Visa Electron finland"

[2021-05-22 06:14] obb12 commented on #140
4920 is part of some finnish visa electron cards

[2021-05-22 06:15] obb12 commented on #140
#141

[2021-09-01 04:25] Hackerofgods23 opened #143 "Help"

[2021-12-03 12:09] #143 closed

[2022-09-04 18:01] Survival4 opened #146 "Yh"